* {
	box-sizing: border-box;
}
html,
body {
	width: 100vw;
	min-height: 100vh;
	font-family: "Open Sans", sans-serif;
}
.container {
	width: 55%;
	margin: 0 auto;
}
nav {
	background: #eaeaea;
}
.nav-container {
	display: flex;
	padding: 10px 30px;
	align-items: center;
}
.brand-logo {
	width: 170px;
}
.brand-logo img {
	max-width: 150px;
	height: auto;
}
.nav-items {
	margin-left: auto;
}
.nav-items ul {
	display: flex;
}
.nav-items ul li {
	margin-left: 30px;
}
.nav-items ul li a {
	text-decoration: none;
	color: #2e333e;
	font-size: 18px;
	padding: 12px 15px;
	transition: all 0.3s ease-in-out;
}
.nav-items ul li.active a,
.nav-items ul li:hover a:not(.btn) {
	border-bottom: 4px solid #0066f9;
}
.nav-items ul li a.btn {
	background: #0066f9;
	color: #fff;
	border: 0;
}
